<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="footer">
    <!-- Footer Start -->
    <div class="container bg-light text-secondary mt-3 shadow-sm p-0 rounded">
        <div class="container">
            <div class="row">
                <div class="col m-2" style="padding: 15px;">
                    <div class="col-lg-4">
                        <a class="text-decoration-none pl-3" href="">
                            <span class="h2 text-uppercase text-info bg-transparent font-weight-bold px-2">Cnus</span>
                        </a>
                    </div>
                    <div class="col">
                        <div class="text-muted pl-4 mt-1">
                            <p>Chân thành phục vụ từ 2022</p>
                        </div>
                    </div>
                    <div class="pt-1">
                        <div class="row text-left text-dark pl-4">
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Về chúng tôi</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Vì khách hàng</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Đội ngũ</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row text-left text-dark pl-4">
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Tin tức</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Khuyến mại</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col">
                                <a class="nav-link text-info bg-brand p-0 rounded-sm text-center" href="">
                                    <div class="d-flex align-items-center p-2">
                                        <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-0">
                    <div>
                        <img class="img-fluid rounded-right " src="/img/cover/cover.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid row border-top bg-transparent text-center p-1 m-0"
         style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="container">
            <div style="font-size: 10px;">
                <p class="m-0">
                    © 2018. Công ty TNHH Công nghệ Cronus - GPĐKKD: 1234567890 do Bộ Thông Tin và Truyền Thông cấp ngày
                    01/01/2022. Địa chỉ: 43/38 Đường Cộng Hoà, Phường 4, Quận Tân Bình, Tp. Hồ Chí Minh. Điện thoại:
                    0825405779.
                </p>
            </div>
        </div>
    </div>
</th:block>
</html>