<!DOCTYPE html>
<html>
<body>
<!-- Footer Start -->
<div class="container-fluid bg-light text-secondary mt-3 pt-5 shadow-lg" th:fragment="footer">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-info text-uppercase mb-4">LIÊN HỆ</h5>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-info mr-3"></i><span class="font-weight-semi-bold m-0 text-info">43/38 Cộng Hoà, P.4, Tân Bình, Tp.Hồ Chí Minh</span></p>
            <p class="mb-2"><i class="fa fa-envelope text-info mr-3"></i><span class="font-weight-semi-bold m-0 text-info">manhhung.actvn@cronus.com</span></p>
            <p class="mb-0"><i class="fa fa-phone-alt text-info mr-3"></i><span class="font-weight-semi-bold m-0 text-info">+84 825 405 779</span></p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-info text-uppercase mb-4">LIÊN KẾT</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Trang chủ</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Của hàng của chúng tôi</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Sản phẩn</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Giỏ hàng</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Thanh toán</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-info text-uppercase mb-4">Tài khoản của tôi</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Quản lý</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng nhập</a>
                        <a class="text-info mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Đăng xuất</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-info text-uppercase mb-4">Tin tức</h5>
                    <form action="">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email của bạn">
                            <div class="input-group-append">
                                <button class="btn btn-info">Đăng ký</button>
                            </div>
                        </div>
                    </form>
                    <h6 class="text-info text-uppercase mt-4 mb-3">Theo dõi</h6>
                    <div class="d-flex">
                        <a class="btn btn-info btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-info btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-info btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-info btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-info" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-info" href="https://htmlcodex.com">Cronus</a>
                <br>Distributed By: <a href="https://themewagon.com" target="_blank">HungFarm</a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/img/payments.png" alt="">
        </div>
    </div>
</div>
</body>
</html>