<!DOCTYPE html>
<html>
<th:block th:fragment="header">
<!-- Topbar Start -->
<div class="container">
    <div class="row align-items-center bg-transparent py-2 px-xl-5 d-none d-lg-flex">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <span class="h2 text-uppercase text-info bg-transparent font-weight-bold px-2">Cronus</span>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group rounded-pill">
                    <input class="form-control rounded-lg text-size-14" placeholder="Sản phẩm ..." type="text">
                    <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-info border-0">
                                <i class="fa fa-search"></i>
                            </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 text-right">
            <a href="" class="btn px-0">
                <i class="fas fa-heart text-info"></i>
                <span class="badge text-secondary border border-secondary rounded-circle"
                      style="padding-bottom: 2px;">0</span>
            </a>
            <a href="" class="btn px-0 ml-3">
                <i class="fas fa-shopping-cart text-info"></i>
                <span class="badge text-secondary border border-secondary rounded-circle"
                      style="padding-bottom: 2px;">0</span>
            </a>
        </div>
        <div class="col-lg-1 d-inline-flex justify-content-end">
            <a type="button" class="fas fa-user-circle dropdown-toggle text-info" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Đăng nhập</button>
                <button class="dropdown-item" type="button">Đăng ký</button>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div id="navbar_top" class="navbar container-fluid bg-light shadow-sm">
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 d-flex m-auto align-items-center">
        <div class="container flex justify-content-center" id="navbarCollapse">
            <a href="" class="nav-link text-info bg-brand p-0 rounded-sm">
                <div class="d-flex align-items-center pl-1 pr-1 ml-2 mr-2">
                    <div style="width: 50px; height: 50px;">
                        <img class="border-0 h-100 w-100 d-inline-block" src="/img/icon/laptop_icon.png" alt="">
                    </div>
                    <span class="d-flex text-nowrap text-info font-bold pl-1 font-weight-bold">Laptop</span>
                </div>
            </a>
            <a href="" class="nav-link text-info bg-brand p-0 rounded-sm">
                <div class="d-flex align-items-center pl-1 pr-1 ml-2 mr-2 p-1">
                    <img class="rounded border-0" src="/img/icon/monitor_icon.png" style="width: 50px; height: 50px;">
                    <span class="d-flex text-nowrap text-info font-bold pl-2 pr-1 font-weight-bold">Màn hình</span>
                </div>
            </a>
            <a href="" class="nav-link text-info bg-brand p-0 rounded-sm">
                <div class="d-flex align-items-center pl-1 pr-1 ml-2 mr-2 p-1">
                    <img class="border-0" src="/img/icon/keyboard_icon.png" style="width: 50px; height: 50px;">
                    <span class="flex text-nowrap text-info font-bold pl-2 pr-1 font-weight-bold">Bàn phím</span>
                </div>
            </a>
            <a href="" class="nav-link text-info bg-brand p-0 rounded-sm h-100">
                <div class="d-flex align-items-center pl-1 pr-1 ml-2 mr-2 p-1">
                    <img class="border-0" src="/img/icon/pc_icon.png" style="width: 50px; height: 50px;">
                    <span class="flex text-nowrap text-info font-bold pl-2 pr-1 font-weight-bold">PC</span>
                </div>
            </a>
            <a href="" class="nav-link text-info bg-brand p-0 rounded-sm">
                <div class="d-flex align-items-center pl-1 pr-1 ml-2 mr-2 p-1">
                    <img class="border-0" src="/img/icon/audio_icon.png" style="width: 50px; height: 50px;">
                    <span class="flex text-nowrap text-info font-bold pl-2 pr-1 font-weight-bold">Âm thanh</span>
                </div>
            </a>
        </div>
    </nav>
</div>
<!-- Navbar End -->
</th:block>
</html>