<!DOCTYPE html>
<html layout:decorate="~{layouts/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<th:block layout:fragment="content">
    <!-- Breadcrumb Start -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="breadcrumb bg-transparent mb-2">
                    <a class="breadcrumb-item text-dark" href="#">Trang chủ</a>
                    <a class="breadcrumb-item text-dark" href="#">Laptop</a>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light rounded shadow-sm w-100 h-100">
                        <div class="carousel-item" th:each="img, imgs : ${product.imageProducts}"
                             th:classappend="${img.active} ? active">
                            <img class="w-100 h-100" th:src="${img.link}" style="height: 600px; width: 600px;"
                                 th:alt="${img.alt}">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-5 h-auto mb-30">
                <div class="h-100 bg-light p-30 rounded shadow-sm">
                    <div class="mb-2 ml-2 bg-light rounded d-flex h-5 align-items-center">
                        <h5 class="text-decoration-none text-wrap text-dark font-weight-bold"
                           th:utext="${product.product.productName}"></h5>
                    </div>
                    <div class="mb-3 bg-info rounded d-flex h-15">
                        <div class="col-md-8 bg-transparent p-3 text-light border-right">
                            <span class="pb-0 pt-2 mb-1 font-italic">Online giảm sốc <span th:utext="${#numbers.formatDecimal(product.product.price - product.product.promotionPrice, 1, 'POINT', 0, 'DEFAULT')} + ${'₫'}"></span></span>
                            <h3 class="text-warning" th:utext="${#numbers.formatDecimal(product.product.promotionPrice, 1, 'POINT', 0, 'DEFAULT')} + ${'₫ *'}"></h3>

                        </div>
                        <div class="col-md-4 bg-transparent p-3 text-light">
                            <span>Kết thúc vào</span>
                            <span>23:00 | 15/12</span>
                        </div>
                    </div>
                    <div class="mb-3 bg-gray rounded d-flex h-60">
                        <div class="list-group">
                            <li class="list-group-item bg-transparent text-danger pb-1 border-0"><i class="bi bi-lightning-fill"> </i>Giảm ngay 6.000.000đ trừ vào giá bán</li>
                            <li class="list-group-item bg-transparent text-danger pb-1 border-0"><i class="bi bi-lightning-fill"> </i>Tặng kèm chuột không dây Logitech M650</li>
                            <li class="list-group-item bg-transparent text-danger pb-1 border-0"><i class="bi bi-lightning-fill"> </i>Mua Microsoft Office chỉ từ 990.000đ (Click xem chi tiết)</li>
                            <li class="list-group-item bg-transparent text-danger pb-1 border-0"><i class="bi bi-lightning-fill"> </i>Mua kèm Macbook ưu đãi thêm (Tuỳ sản phẩm và không áp dụng khuyến mãi khác của sản phẩm mua kèm)</li>
                        </div>

                    </div>
                    <div class="bg-light rounded d-flex h-10">
                        <button type="button" class="btn btn-block btn-danger shadow-sm rounded-sm p-1 w-60 m-0 font-weight-bold">Thêm vào giỏ hàng</button>
                        <button type="button" class="btn btn-block btn-info shadow-sm rounded-sm p-1 w-40 m-0 ml-3 font-weight-bold">Trả góp</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-30">
                <div class="bg-light p-30 rounded shadow-sm">
                    <div class="">
                        <div class="fade show ">
                            <h4 class="mb-3">Thông tin sản phẩm</h4>
                            <p>Không còn quá xa lạ với sự đẳng cấp đến từ các sản phẩm của nhà Apple bởi lối thiết kế dẫn đầu xu hướng sang trọng, thời thượng và sức mạnh cấu hình ngoài mong đợi, nhưng còn đặc biệt hơn khi chiếc laptop MacBook Pro 16 M1 Pro 2021 này sẽ là phiên bản nâng cấp với con chip Apple M1 Pro mạnh mẽ, xử lý ấn tượng các tác vụ chuyên sâu.
                                Sức mạnh bộc phá với CPU phiên bản nâng cấp vượt trội
                                MacBook M1 Pro là phiên bản nâng cấp vượt trội với tốc độ xử lý tăng 70% và hiệu năng gấp 1.7 lần so với dòng M1 tiền nhiệm, sở hữu 200 GB/s memory bandwidth chinh phục mọi tác vụ từ cơ bản đến chuyên sâu với hiệu năng đỉnh cao dẫn đầu so với các dòng sản phẩm cùng phân khúc đồng thời kéo dài thời lượng pin nhờ 10 nhân CPU gồm 8 nhân hiệu suất cao và 2 nhân tiết kiệm điện ấn tượng cùng 33.7 tỷ bóng bán dẫn.
                                Đi kèm là 16 lõi GPU đáp ứng mượt mà các ứng dụng văn phòng phổ biến như Word, Excel, Powerpoint,... đến những phần mềm chỉnh sửa video, thiết kế 2D, 3D “nặng ký” của nhà Adobe một cách chuyên nghiệp nhất.
                                Nâng cao khả năng đa nhiệm mượt mà với bộ nhớ RAM 16 GB, bạn hoàn toàn có thể mở nhiều cửa sổ ứng dụng cùng lúc nhưng vẫn đảm bảo máy hoạt động ổn định, thao tác chuyển đổi qua lại giữa các layer trơn tru, suôn sẻ hơn mà không xảy ra tình trạng giật lag hay đơ máy giữa chừng. .</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 h-auto mb-30">
                <div class="bg-light p-30 rounded shadow-sm pb-1">
                    <div class="">
                        <div class="fade show">
                            <h4 class="mb-3">Cấu hình</h4>
                            <div>
                                <table class="table">
                                    <tbody>
                                    <div th:each="config, configs : ${product.configurationsProducts}">
                                        <tr>
                                            <th scope="row" th:utext="${config.label}"></th>
                                            <td th:utext="${config.value}"></td>
                                        </tr>
                                    </div>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->


</th:block>

</html>